* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

.list {
    margin: 20px auto;
    background-color: antiquewhite;
    max-width: 1180px;
    width: 60%;
}

.input-group {
    text-align: center;
}

ul {
    list-style: none;
}

ul::after {
    clear: both;
    display: table;
    content: '';
}

ul li {
    padding: 10px;
    margin: 10px 0px;
}

ul li:hover {
    background-color: white;
}

ul i {
    float: right;
}

ul i:hover {
    color: red;
}

p {
    display: inline-block;
}

p.done {
    text-decoration: line-through;
}